# Dependencies
node_modules


# Next.js
.next
out

# Git
.git
.gitignore

# Environment files
.env
.env.*

# IDE / Editor
.vscode
.idea

# Documentation
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore